/* End game css */

*{
    background-color:orange;
    text-align:center;
    flex-direction: column;
    flex:content;
    position:relative;
    
    
 }



.scoring {
    background-color: white;
    width:500px;
    height: 500px;
    left:400px;

}

#score {
    font-size: 80px;
    background-color: white;
    top:50px;
    position:relative;
 }

 #saveScoreButton {
    background-color: purple;
    Color:white;
    
 }

 #username {
    background-color: purple;
    Color:white;
    
 }

 #seeScoreButton {
    background-color: purple;
    Color:white;
    
 }
